<div class="container">
  <p class="credit">
    &copy; MyCo <%= new Date().getFullYear() %>. Company # 1234567. 
    <a href="mailto:info@myco.com">info@myco.com</a>
  </p>
  <p class="credit">
    Built using <a href="http://heroku.com">Heroku</a>, <a href="http://nodejs.org">Node JS</a>, <a href="http://expressjs.com/">Express</a> and <a href="http://mongohq.com">MongoHQ</a>. <a href="https://github.com/steventux/mongohq-node">Here's how</a>.
  </p>
</div>
