<div class="container">
  <p class="credit">
    &copy; Laing Solutions <%= new Date().getFullYear() %>. Company # 6376724. 
    <a href="mailto:info@laingsolutions.com">info@laingsolutions.com</a>
  </p>
  <p class="credit">
    Built using <a href="http://heroku.com">Heroku</a>, <a href="http://nodejs.org">Node JS</a>, <a href="http://expressjs.com/">Express</a> and <a href="http://mongohq.com">MongoHQ</a>. <a href="https://github.com/steventux/mongohq-node/tree/lsl">Here's how</a>.
  </p>
</div>
