<!DOCTYPE html>
<html>
  <head>
    <title><%= content.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= content.title %></h1>
    <p><%= content.body %></p>
  </body>
</html>
