<!DOCTYPE html>
<html>
  <head>
    <title>Laing Solutions</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"/>
  </head>
  <body>
    <header>
      <div class="header">
        <div class="logo">
          <a href="/"><h1>Laing Solutions</h1></a>
          <h2>Digital development services</h2>
        </div>
        <%- partial('navigation.ejs') %>
      </div>
    </header>
    <section>
      <article>
        <div class="content">
          <%- body %>
        </div>
      </article>
    </section>
    <footer>
      <div class="footer">
        <p class="credit">
          &copy; Laing Solutions 2014. Registered Company No. 6376724.
          <a href="mailto:info@laingsolutions.com">info@laingsolutions.com</a>
        </p>
        <p class="credit">
          Built using <a href="http://heroku.com">Heroku</a>, <a href="http://nodejs.org">Node JS</a>, <a href="http://expressjs.com/">Express</a> and <a href="http://mongohq.com">MongoHQ</a>. <a href="https://github.com/steventux/mongohq-node/tree/lsl">Here's how</a>.
        </p>
      </div>
    </footer>
    <%- partial('ga') %>
  </body>
</html>
