<!DOCTYPE html>
<html>
  <head>
    <title><%= content.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <%- partial('navigation') %> 
    <div class="main-content container">
      <%- body %>
    </div>
    <%- partial('footer') %>
  </body>
</html>
