        <div class="nav">
          <nav class="main">
            <ul>
              <li><a href="/projects" class="clients">Clients</a></li>
              <li><a href="https://github.com/steventux" class="code">Code</a></li>
              <li><a href="" class="comment">Comment</a></li>
              <li><a href="/contact" class="contact">Contact</a></li>
            </ul>
          </nav>
        </div>
