.navbar-inverse .brand { font-family: 'Michroma', sans-serif; }
.navbar-inner { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
.main-content { min-height: 400px; }
.main-content img { margin: 6px; }
